.agenda-display {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90vw;
}

.agenda-display h3 {
  color: #fab856
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

.agenda-list {
  background-color: #CACACA;
  margin: auto 0;
  width: 40vw;
  height: 45vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #b3b3b3;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #b3b3b3,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #b3b3b3,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 15px;
}

.agenda-item-title {
  font-size: 1rem;
  width: 80%;
  text-align: left;
  margin: 0;
  color: black;
}

.completed {
  text-decoration: line-through;
}

.title-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.agenda-item-desc {
  font-size: .8rem;
  font-style: italic;
  text-align: left;
  width: 70%;
  height: auto;
  margin: .25rem 0 .25rem 0;
  color: black;
}

.agenda-item {
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
}

.agenda-check {
  width: auto;
  margin: 0 .5rem 0 0;
  font-size: 1rem;
}
.agenda-check:focus {
  outline: 0;
}

.agenda-description {
  background-color: #cacaca;
  border-radius: .5rem;
  color: black;
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .agenda-wrapper {
    flex-direction: row;
    margin-bottom: 5rem;
  }

  .agenda-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .agenda-item {
    width: 80vw;
  }

  .agenda-list {
    width: 80vw;
  }

  .agenda-description {
    width: 80vw;
  }

  .input-wrapper {
    width: 80vw;
    justify-content: space-evenly;
  }
}
