.EventCarousel {
  width: 24em;
  height: 12em;
  padding: 0;
  margin: 100px auto 0;
  border: 10px solid #fff;
  box-shadow: 0px 2px 3px #eaeaea;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
  /* scroll-snap-points-7: repeat(10em); */
}

.EventCard {
  background: #f7f7f7;
  color: #black;
  list-style-type: none;
  padding: 1em;
  margin: 0;
  transition: background-color 0.5s;
}

.EventCard:focus {
  color: #fff;
  background: rgb(115, 180, 174);
}

.EventCard:hover {
  color: #fff;
  background: orange;
}