.event-link {
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

b {
  margin: 0.4rem;
  font-weight: 500;
}

i {
  font-size: 10pt;
  color: rgb(66, 65, 65);
}

.event-link-week {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}