.Event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  color: #b3b3b3;
}

.event-info h1 {
  font-style: italic;
  margin: 1rem 0 0 0;
}

.venue-info p {
  margin: 0;
}

.delete-event-button {
  height: 1rem;
  width: 1rem;
  margin-bottom: 1rem;
}

.delete-event-button:hover {
  color: #fab856;
  cursor: pointer;
}

/* @media screen and (max-width: 800px) {
  .Event {
    flex-direction: row;
  }
} */
