.NavBar {
  padding: .75rem 0 .75rem 0;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  border-top: 1pt solid #b3b3b3;
  background-color: #4d4d4d;
}

.active {
  color: #e2992f;
}

.fa-w-14 {
  font-size: 30pt;
}