.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

.TourDisplay {
  border: 1px solid #b3b3b3;
  width: 50%;
  margin: 1rem;
}

.TourDisplay h1 {
  margin: 2%;
}

.TourDisplay button {
  border: 2px solid #fab856;
  color: #fab856;
  font-size: 1rem;
  background-color: #4d4d4d;
  margin-bottom: 2%;
}

.ContactsPreview {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 400px;
  margin: 5% auto;
}

.contact-icon {
  height: 5rem;
  width: 5rem;
  margin: 2%;
  border: 1px solid #fab856;
  border-radius: 50%;
  box-shadow: 0px 0px 13px 2px rgba(250, 184, 86, 0.84);
  background-color: #4d4d4d;
  color:#fab856;
}

.contact-icon p {
  font-size: 2rem;
  margin-top: 25%;
}

@media screen and (max-width: 800px) {
  .TourDisplay {
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .TourDisplay {
    width: 80%;
  }

  .contact-icon {
    height: 3.5rem;
    width: 3.5rem;
  }

  .contact-icon p {
    font-size: 1.5rem;
    margin-top: 25%;
  }

  .ContactsPreview {
    width: 65%;
  }
}