.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: #fab856;
  font-style: italic;
  margin: 0;
}

input {
  height: 1.5rem;
  width: 10rem;
  background-color: #cacaca;
  border-radius: .5rem;
  color: black;
  margin-bottom: 1rem;
}

.login-btn {
  background-color: #b3b3b3;
  border-radius: .5rem;
  height: 1.7rem;
  width: 8rem;
  margin-bottom: .5rem;
}

.login-btn:hover {
  background-color: #fab856;
}

.small-logo {
  width: 15rem;
}

.google-button {
  display: flex;
}

.google-button p {
  margin: 0
}

.sign-up a {
  margin-left: .5rem
}

@media screen and (max-width: 800px) {
  
}

@media screen and (max-width: 600px) {
  .small-logo {
    width: 10rem;
  }
}