.Contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 40%;
  margin: auto;
  padding: 1rem;
  color: #b3b3b3;
  /* font-family: 'Montserrat',
  sans-serif; */
}

.ContactCard {
  border: 3px solid #b3b3b3;
  width: 93%;
  text-align: center;
  padding: 16px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px #333333;
  -moz-box-shadow: 0px 0px 10px #333333;
  box-shadow: 0px 0px 10px #333333;
}

.contact-name {
  text-decoration: underline;
}

.contact-info {
  list-style-type: none;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.contact-link {
  display: flex;
  column-gap: 1rem;
}

.contact-label {
  margin: 0;
}

.ContactCard a {
  color: #e2992f;
}

.handle-contacts-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* font-family: 'Montserrat',
  sans-serif;  */
}

.search-bar {
  width: 320px;
  margin: 0;
}

/* .add-contacts-button {
  
}  */